*.dat
*.flo
*.txt
a.out
abs
affine
age
angle
automatic
baker
brat-beigen
brat-gap-hair
brat-gapper
chirikov
circin
circle
circle-mom
circmov
circout
clamp
curl
cutoff
decide
diff
div
divisor
dump
elliptic
erdos
euler-q
fdist
gamma
gapper
gauss-red
gen.tgz
gkd
gkw
gkw-integrand
gmon.out
haar
hardy
hermite
hurwitz
inf
ising
ising-moment
lyapunov
mand-flow
manvert
mask
measure
migrate
mobius
morph
mp_zeta
mstop
next
offset
orig
paste
phase
plouffe
polylog
q-exp
radius
ray
recip
reclamp
renorm
sho
squige
stalk
stalkmov
sum
swap
takagi
takelog
takeroot
tong
totient
whack
wind
winds
zeta
